body {
  background-color: #050505;
}

#photo {
  background-color: #bb86fc2f;
}

/*  scroll bar  */
::-webkit-scrollbar {
  display: none;
  width: 6px;
}

::-webkit-scrollbar-track {
  display: none;
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  display: none;
  background: #1a1a1a;
  border-radius: 200px 20px 20px 200px;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
  background: #333; 
  border-radius: 200px 20px 20px 200px;
}

::-webkit-scrollbar-corner {
  display: none;
  background: transparent;
}
/*  ----  */

#footer {
  background-color: #1a1a1a;
}

.line {
  color: #bb86fc;
  background-color: #bb86fc;
}

.hv-grey:hover i, .hv-grey:hover a {
  color: #f1f1f1;
}

.hv-purple:hover {
  color: #6f4a8e;
}

.white {
  color: #fff;
}

.purple {
  color: #bb86fc;
}

.grey {
  color: #f1f1f1bc;
}

.base {
  color: #121212;
}

.prim {
  color: #1f1f1f;
}

.bg-prim {
  background-color: #1f1f1f;
}

/*navigation bar extended background*/
.nav-background-ext {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 350px;
  background-color: #1f1f1fef;
}