/*retract*/

.mainPage-retract {
    margin-left: 60px!important;
}

.nav-retract {
    height: 100%;
    width: 60px;
    position: fixed!important;
    z-index: 1;
    margin: 0;
}

.nav-i-icon-retract {
    padding: 10px 0px!important;
    text-align: center!important;
    align-items: center!important;
    position: relative!important;
}

#nav-button-retract {
    position: relative;
    top: 16px;
    left: 165px;
    width: 40px;
    height: 40px;
    padding: 10px;
    z-index: 2;
    text-align: center;
    box-sizing: content-box;
}

.photo-retract {
    position: relative;
    top: 20px;
    right: 7px;
    width: 80%;
    margin: 12.5px;
    padding: 2.5px;
    border-radius: 50%;
}

/*expand*/

#nav-button-expand {
    position: relative;
    top: 16px;
    left: 5px;
    width: 40px;
    height: 40px;
    padding: 5px;
    z-index: 2;
    text-align: center;
    box-sizing: content-box;
}

.footer-retract {
    padding-right: 60px!important;
}